mozilla/
obsidian/
pulse/
dconf/
vesktop/
Proton/
concord/
spotify/
go/telemetry/
fcitx/dbus/
ibus/bus/
session/
fcitx5/conf/cached_layouts
fish/fish_variables

spicetify/CustomApps/marketplace/
spicetify/Themes/marketplace/
spicetify/config-xpui.ini
rofi/colors.rasi
waybar/colors.css
hypr/matugen/matugen-hyprland.lua
anyrun/colors.css
btop/themes/btop.theme
zathura/zathurarc
yazi/theme.toml
hyprwat/hyprwat.conf
opencode/themes/matugen.json
hypr/scripts/quickshell/qs_colors.json
aerc/stylesets/matugen
kitty/matugen.conf
wayle/matugen.toml

yazi/plugins/

**/Cache/
**/cache/
**/GPUCache/
**/logs/
**/*.log
